<html>

<head>
<title>WordMark: Text Steganography</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript" language="JavaScript" src="https://neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>
</head>
<body>

<style>
textarea {
  resize: none;
}
</style>

<div class="container">
  <div class="jumbotron"><h1> WordMark </h1></div>
<div>
  <div class="well">
    <form method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
      <textarea rows="15" cols="59" id="plain" name="plainText">
        {{ plainText }}
      </textarea>
    </td>
    <td>
      <textarea rows="15" cols="59" id="watermark" name="watermarkText">
        {{ watermarkText }}
      </textarea>
    </td>
  </tr>
</table>
      <br>
      Complexity factor: <input type = "text" name="complexityFactor"><br>
      Email: <input type = "text" name="email"><br>
      <input type="submit" value="Apply Watermark" />
    </form>
  </div>
  <div id="outputdiv" class="well"></div>
</div>
</div>
<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">
var dmp = new diff_match_patch();

function launch() {
  var text1 = document.getElementById('plain').value;
  var text2 = document.getElementById('watermark').value;

  var d = dmp.diff_main(text1, text2);

  dmp.diff_cleanupEfficiency(d);
  var ds = dmp.diff_prettyHtml(d);
  document.getElementById('outputdiv').innerHTML = ds;
}
window.onload = launch;
</SCRIPT>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
